@model ST10281918_NDIVHUWONDOU_CLDV6212_PART1.Models.Customer;

@{
    ViewData["Title"] = "Create Customer";
}

<h2>Create Customer</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="CustomerFirstName">First Name</label>
        <input asp-for="CustomerFirstName" class="form-control" />
        <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerLastName">Last Name</label>
        <input asp-for="CustomerLastName" class="form-control" />
        <span asp-validation-for="CustomerLastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerEmail">Email</label>
        <input asp-for="CustomerEmail" class="form-control" />
        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerPhone">Cell Phone Number</label>
        <input asp-for="CustomerPhone" class="form-control" />
        <span asp-validation-for="CustomerPhone" class="text-danger"></span>
    </div>
    @* Code Attribution *@
    @*This method was taken from stakoverflow*@
    @*https://stackoverflow.com/questions/2503923/html-button-calling-an-mvc-controller-and-action-method*@
    @*Jon Galloway*@
    @*https://stackoverflow.com/users/5/jon-galloway*@

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

